
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  float: right;
}

li {
  position: 100%;
  margin: 10px;
}

.topbar {
  background: url("banner.png");
  background-size: 100% 100%;
  flex: 1;
  min-height: 60vh;
  min-width: 100vh;
}

.bottomleft {
  background: url("backpacking.png");
  min-height: 40vh;
  min-width: calc(100% / 3);
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}

.bottomcenter {
  background: url("camping.png");
  min-height: 40vh;
  min-width: calc(100% / 3);
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}
.bottomright {
  background: url("hiking.png");
  min-height: 40vh;
  min-width: calc(100% / 3);
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  color: white;
  text-align: center;
}

button {
  color: white;
}
